extends ./layout

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/embedded.css")

block content
  #center-box
    .vertical-center
      h2 Auth0 | Sign Up
      form#login-form
        input#email.field(type="text" placeholder="Enter email address")
        input#pwd.field(type="password" placeholder="Enter password")
        button.btn(type="submit") Sign up
      a.link(href="/embedded") Already have an account? Login here.

block scripts
  script(src="/jquery/jquery.min.js")
  script(src="/axios/axios.min.js")
  script.
    const BASE_URL = '#{env.ISSUER_BASE_URL}'
    const CLIENT_ID = '#{env.CLIENT_ID}'
    const SECRET = '#{env.SECRET}'
  script(src="/js/signup.js")