extends ./layout

block stylesheets
  link(rel="stylesheet" type="text/css" href="/css/universal.css")

block content
  #center-box
    .vertical-center
      h2 Auth0 | Universal Login
      p #{isAuthenticated ? 'Logged in' : 'Logged out'}
      a.btn(href=(isAuthenticated ? '/logout' : '/login'))
        | #{isAuthenticated ? 'Logout' : 'Login'}
      if user
        pre.user #{JSON.stringify(user, null, 4)}